In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori

In [2]:
#load the data

In [3]:
df=pd.read_csv("book.csv")

In [4]:
#Data prepoccesing

In [5]:
df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [6]:
df.describe()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
count,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,0.423000,0.247500,0.43100,0.282000,0.214500,0.241000,0.276000,0.113500,0.037000,0.048500,0.108500
std,0.494159,0.431668,0.49534,0.450086,0.410578,0.427797,0.447129,0.317282,0.188809,0.214874,0.311089
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.00000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ChildBks   2000 non-null   int64
 1   YouthBks   2000 non-null   int64
 2   CookBks    2000 non-null   int64
 3   DoItYBks   2000 non-null   int64
 4   RefBks     2000 non-null   int64
 5   ArtBks     2000 non-null   int64
 6   GeogBks    2000 non-null   int64
 7   ItalCook   2000 non-null   int64
 8   ItalAtlas  2000 non-null   int64
 9   ItalArt    2000 non-null   int64
 10  Florence   2000 non-null   int64
dtypes: int64(11)
memory usage: 172.0 KB

In [8]:
df.isnull().sum()

ChildBks     0
YouthBks     0
CookBks      0
DoItYBks     0
RefBks       0
ArtBks       0
GeogBks      0
ItalCook     0
ItalAtlas    0
ItalArt      0
Florence     0
dtype: int64

# Apply apriori Algorithm

In [9]:
frequent_itemset=apriori(df,min_support=0.07,use_colnames=True)
frequent_itemset["length"]=frequent_itemset["itemsets"].apply(lambda x: len(x))
frequent_itemset

    support                                itemsets  length
0    0.4230                              (ChildBks)       1
1    0.2475                              (YouthBks)       1
2    0.4310                               (CookBks)       1
3    0.2820                              (DoItYBks)       1
4    0.2145                                (RefBks)       1
..      ...                                     ...     ...
61   0.0745   (ChildBks, CookBks, RefBks, DoItYBks)       4
62   0.0820   (ChildBks, CookBks, ArtBks, DoItYBks)       4
63   0.0890  (ChildBks, GeogBks, CookBks, DoItYBks)       4
64   0.0785    (ChildBks, GeogBks, CookBks, RefBks)       4
65   0.0835    (ChildBks, GeogBks, CookBks, ArtBks)       4

[66 rows x 3 columns]

In [10]:
from mlxtend.frequent_patterns import association_rules

In [11]:
rule=association_rules(frequent_itemset,min_threshold=0.9)

# Conclusion:-1 with min_support 0.07 and confidance 0.9

In [12]:
rule.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ItalCook),(CookBks),0.1135,0.431,0.1135,1.0,2.320186,0.064582,inf
1,"(ChildBks, ItalCook)",(CookBks),0.0850,0.431,0.0850,1.0,2.320186,0.048365,inf

In [13]:
frequent_itemset=apriori(df,min_support=0.1,use_colnames=True)
frequent_itemset["length"]=frequent_itemset["itemsets"].apply(lambda x: len(x))
frequent_itemset

    support                       itemsets  length
0    0.4230                     (ChildBks)       1
1    0.2475                     (YouthBks)       1
2    0.4310                      (CookBks)       1
3    0.2820                     (DoItYBks)       1
4    0.2145                       (RefBks)       1
5    0.2410                       (ArtBks)       1
6    0.2760                      (GeogBks)       1
7    0.1135                     (ItalCook)       1
8    0.1085                     (Florence)       1
9    0.1650           (ChildBks, YouthBks)       2
10   0.2560            (ChildBks, CookBks)       2
11   0.1840           (ChildBks, DoItYBks)       2
12   0.1515             (ChildBks, RefBks)       2
13   0.1625             (ChildBks, ArtBks)       2
14   0.1950            (ChildBks, GeogBks)       2
15   0.1620            (CookBks, YouthBks)       2
16   0.1155           (YouthBks, DoItYBks)       2
17   0.1010             (YouthBks, ArtBks)       2
18   0.1205            (GeogBks, YouthBks)       2
19   0.1875            (CookBks, DoItYBks)       2
20   0.1525              (RefBks, CookBks)       2
21   0.1670              (CookBks, ArtBks)       2
22   0.1925             (GeogBks, CookBks)       2
23   0.1135            (CookBks, ItalCook)       2
24   0.1055             (RefBks, DoItYBks)       2
25   0.1235             (ArtBks, DoItYBks)       2
26   0.1325            (GeogBks, DoItYBks)       2
27   0.1105              (RefBks, GeogBks)       2
28   0.1275              (GeogBks, ArtBks)       2
29   0.1290  (ChildBks, CookBks, YouthBks)       3
30   0.1460  (ChildBks, CookBks, DoItYBks)       3
31   0.1225    (ChildBks, CookBks, RefBks)       3
32   0.1265    (ChildBks, CookBks, ArtBks)       3
33   0.1495   (ChildBks, GeogBks, CookBks)       3
34   0.1045  (ChildBks, GeogBks, DoItYBks)       3
35   0.1020    (ChildBks, GeogBks, ArtBks)       3
36   0.1015    (CookBks, ArtBks, DoItYBks)       3
37   0.1085   (GeogBks, CookBks, DoItYBks)       3
38   0.1035     (GeogBks, CookBks, ArtBks)       3

In [14]:
rule=association_rules(frequent_itemset,min_threshold=1)

# Conclusion:-2 with min_support 10% and confidance 100%

In [15]:
rule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ItalCook),(CookBks),0.1135,0.431,0.1135,1.0,2.320186,0.064582,inf